.styled-table {
  margin: auto;
  font-size: 15px;
  font-family: sans-serif;
  background-color: #7e7e7e;
}

.styled-table thead tr {
  color: #000000;
  text-align: left;
  
}

.styled-table th,
.styled-table td {
  padding: 12px;
}

.btn {
  border: none;
  color: #000000;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #5f69f8;
}

