
  .menu p {
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    line-height: 15px;
    border-radius: 4px;
    gap: 20px;
  }
  
  .h1 {
    font-size: 28px;
    color: #4b00fa;
  }
  

 
  