.p {
  font-size: 30px;
  color: #7037da;
  text-align: center;
}

h1 {
  font-size: 76px;
  text-align: center;
}


.search {
  text-align: center;
}

.app input {
  padding: 10px;
  font-size: 24px;
  border-radius: 15px;
  color: #888888;
}